## .NET / Visual Studio
[Bb]in/
[Oo]bj/
.vs/
*.user
*.suo
*.userprefs

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
artifacts/

## Rider / VS Code
.idea/
.vscode/

## OS
Thumbs.db
.DS_Store

## Scratch
_to_delete/
demo/script.md
